@charset "EUC-JP";


/* =============================================== */
/** All Blog Templates CSS

 Update : 2009.08.17

New
- header2

Past
- DLsite plugin
- headerPixiv , header2
- 引継ぎ検索デザインリニューアル
- GoogleAdSense スタイル追加
- CommonTheme リニューアル
- PortalLinks 設定
- hCard 対応（default_2008）
- Blog Map
- Profileオープンに伴い拍手ボタン（Clap）追加
- Tempalete"the4thGeneration"用にArticleFooterInfo記載
- 共通ヘッダ（BlogHeader）内JS変更に伴う修正
- 記事タグ：ブログ内リンク（ArticleTagsListInternal） 設定
- 記事タグ（ArticleTagsList） 設定
- 共通フッタ（BlogFooter） 設定
- 共通ヘッダ（BlogHeader） 修正 …ロゴとテキスト
- クリップボタン（AddToClip） 追加
- 記事投稿“プライベートモード”機能 追加
- プラグイン“タグクラウド”追加
- トップページ用ページャ“IndexNavigator”追加
- 共通ヘッダ（BlogHeader）とサイドバナー（LDServices）設定

*/
/* =============================================== */


/* =============================================== */
/** Contents

 独自タグ
	BlogHeader … 共通ヘッダ
	BlogFooter … 共通フッタ
	LDServices … サイドバナー
	IndexNavigator … トップページ用ページャ
	ArticleTagsList, ArticleTagsListInternal … 記事タグ, 記事タグ：ブログ内リンク
	AddToClip … クリップボタン
	Clap … 拍手ボタン
	CommentForm … コメント認証
 機能
	Private Mode … プライベートモード
	TagCloud - Plugin … タグクラウド プラグイン

/* ----------------------------------------------- */



/* = Reset
=============================================== */

ul#ld-services , ul#ld-services li ,
div#footer p ,
ul.index-navigator , ul.index-navigator li ,
ol.paging-number , ol.paging-number li ,
ul.article-pager , ul.article-pager li ,
ul.archives-pager , ul.archives-pager li ,
dl.common-theme , dl.common-theme dt , dl.common-theme dd ,
dl.article-tags , dl.article-tags dt , dl.article-tags dd ,
ul.article-post ,
div.comment-auth-announcement p ,
div.private-mode-announcement p ,
.side ul.tagcloud , .side ul.tagcloud li {
	margin: 0;
	padding: 0;
}

ul#ld-services ,
ul.index-navigator ,
ol.paging-number ,
ul.article-pager ,
ul.archives-pager ,
ul.article-post {
	list-style-type: none;
}

a.ldclip-redirect img ,
ul#ld-services li a img ,
img#tool ,
abbr {
	border: 0;
}

a.ldclip-redirect img {
	vertical-align: middle;
}


/* = BlogHeader
=============================================== */

table#header { width: 100%; }
table#header th { width: 1%; }
table#header th img { margin: 2px 10px; }
table#header td.catprbox {
	width: 1%;
	white-space: nowrap;
}
table#header td.catprbox span { margin-right: 15px; }
table#header td.newstickerbox { width: 97%; }
table#header td.newstickerbox div {
	text-align: left!important;
	padding-left: 10px;
}
table#header td.startblogbox {
	width: 1%;
	padding-right: 20px;
	white-space: nowrap;
}

table#header td.startblogbox img {
	margin-right: 3px;
	border: 0;
	vertical-align: middle;
}
table#header td.startblogbox a.header-nav-livedoor {
	margin-right: 5px;
	border-right: 1px solid;
	padding-right: 5px;
}
/* changed Js */
table#header a { text-decoration: none!important; }
table#header td { height: 16px!important; }
td.newstickerbox div {
	width: 200px!important;
	height: 14px!important;
}
#header_scroll { width: 170px!important; }
#header_topics div { height: 14px!important; }


/* = BlogFooter
=============================================== */


/* = LDServices
=============================================== */

ul#ld-services {
	text-align: center;
}

ul#ld-services li {
	padding-bottom: 10px;
}


/* pagers start

 = IndexNavigator
=============================================== */

ul.index-navigator li ,
ol.paging-number ,
ol.paging-number li {
	display: inline;
}

ul.index-navigator li {
	font-weight: normal;
}

ul.index-navigator li.paging-number ol.paging-number li.current {
	margin: 0 5px;
	font-weight: bold;
}

ul.index-navigator li a {
	margin: 0 2px;
	padding: 0 3px;
	font-weight: normal;
}

div.index-navigator-outer {
	text-align: center!important;
}
	/* for ie hasLayout */
	ul.index-navigator li a {
		zoom: 1;
	}

/* for wave series */
body.wave #index-navigator1 {
	margin-bottom: 1em;
}


/* = ArticlePager
=============================================== */

ul.article-pager li {
	display: inline;
}


/* = ArchivesPager
=============================================== */

ul.archives-pager {
	text-align: center;
}

ul.archives-pager li {
	display: inline;
}

ul.archives-pager li.both {
	border-left: 1px solid;
}
/* pagers end */ 


/* = PortalLinks
=============================================== */
div.portal-links dl.common-theme {
	margin-bottom: 5px;
}

/* = CommonTheme
=============================================== */

dl.common-theme {
	clear: both;
}

dl.common-theme dt ,
dl.common-theme dd {
	display: inline;
}

dl.common-theme dt {
	display: none;
}

body.default_2008 dl.common-theme {
	background: url(http://parts.blog.livedoor.jp/img/usr/default_2008/common/common_theme.gif) no-repeat;
	margin-bottom: 10px;
	padding-left: 20px;
	line-height: 16px;
}

body.default_2008 dl.common-theme dt ,
body.default_2008 dl.common-theme dd {}


/* = ArticleTagsList
     ArticleTagsListInternal
=============================================== */

dl.article-tags {
	clear: both;
}

dl.article-tags dt ,
dl.article-tags dd {
	display: inline;
}

dl.article-tags dd {
	margin-left: 5px;
}

/* default_2008 style */
body.default_2008 dl.article-tags {
	background: url(http://parts.blog.livedoor.jp/img/usr/default_2008/common/tag.gif) no-repeat;
	padding-left: 20px;
	height: 1%;
	min-height: 16px;
	line-height: 20px;
}

body.default_2008 dl.article-tags dt {}
body.default_2008 dl.article-tags dd {
/*
	float: left;
*/
	margin-left: 7px;
}

/* standard_blue style */
body.standard_blue h3.title a {
	text-decoration: none;
}

/* old type (article_tags) */
dl.article_tags {
	clear: both;
}

dl.article_tags dt ,
dl.article_tags dd {
	display: inline;
}

dl.article_tags dd {
	margin-left: 5px;
}


/* = AddToClip
=============================================== */


/* = Clap
=============================================== */

span.clap {
	padding-left: 5px;
}

span.clap img {
	vertical-align: middle;
	margin-right: 3px;
}


/* = post Twitter
=============================================== */
a.postTwitter img {
	border: none;
	vertical-align: bottom;
}






/* = ArticlePostInfo (for the4thGeneration)
----------------------------------------------- */

.vcard a.url {
	text-decoration: none;
}

ul.article-post {
	text-align: right;
}

ul.article-post li {
	display: inline;
}

ul.article-post li.article-author {
	font-weight: bold;
}

ul.article-post li.article-author img {
	vertical-align: middle;
	padding-right: 5px;
}

ul.article-post li.article-comment-count ,
ul.article-post li.article-trackback-count {
	margin-left: 5px;
}

ul.article-post li.article-clip {
	padding-left: 5px;
}


/* = CommentForm
=============================================== */
/* comment auth */

div.comment-auth-announcement {
	border: 1px solid;
	border-color: #858585;
	margin: 10px;
	padding: 10px;
}
div.comment-auth-announcement p {
	text-align: left;
}

div.comment-auth-announcement p.authorized {
	text-align: center;
}


/* = Private Mode
=============================================== */

div.private-mode-announcement {
	border: 1px solid;
	padding: 10px;
}

div.private-mode-announcement p {
	text-align: left;
}

div.private-mode-announcement p.authorized {
	text-align: center;
}

div.private-mode-announcement p.authorized span {}

/* ログアウトする */
div.private-mode-announcement p.authorized a {
	margin-left: 10px;
}


/* = TagCloud - Plugin
=============================================== */

.side ul.tagcloud {
	text-align: left;
	overflow: hidden;
	line-height: 1.2;
}

.side ul.tagcloud li {
	display: inline;
}

/* font size */
.side ul.tagcloud li.tag-weight-0 {
	font-size: 100%;
}
.side ul.tagcloud li.tag-weight-1 {
	font-size: 120%;
}
.side ul.tagcloud li.tag-weight-2 {
	font-size: 165%;
}
.side ul.tagcloud li.tag-weight-3 {
	font-size: 200%;
}
.side ul.tagcloud li.tag-weight-4 {
	font-size: 230%;
}

.side ul.tagcloud li.tag-lifetime-0 ,
.side ul.tagcloud li.tag-lifetime-1 ,
.side ul.tagcloud li.tag-lifetime-2 ,
.side ul.tagcloud li.tag-lifetime-3 ,
.side ul.tagcloud li.tag-lifetime-4 {}



/* = galleryThumbnail - Plugin
=============================================== */
ul.galleryThumbnail {
	margin: 0;
	padding: 0;
	text-align: left;
}

	ul.galleryThumbnail li {
		display: inline;
		overflow: hidden;
	}
		ul.galleryThumbnail li a {
			background: transparent!important;
		}


		ul.galleryThumbnail li a:hover img {
			opacity: 0.5;
			filter: alpha(opacity=50);
		}

		ul.galleryThumbnail li img {
			margin-bottom: 3px;
			border: none;
			vertical-align: baseline;
		}



/* = Blog Map - Plugin
=============================================== */

iframe.blogMap {
	border: 1px solid #ccc;
}


/* temp
--------------------------- */

div.article-option ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

div#comment-form-body tr.input-comment-body td div.textarea-outer {
	position: relative;
}

div#comment-form-body div#emoji {
	position: absolute;
	background-color:#fff;
	top: 0!important;
	left: 2px!important;
	border: 0;
}

div#comment-form-body div#emoji table {
	border: 1px solid #000;
}


#NnVD {
	top: 30px !important;
}


/* = Advertise
----------------------------------------------- */

div#ad ,
div#ld-service {
	display: block!important;
}

/* = Google AdSense
----------------------------------------------- */

.adhover {
	-moz-border-radius: 5px; /* for fx */
	-webkit-border-radius: 5px; /* for safari */
}

a.adtitle ,
.adhover a.adtitle { color:#0000fe; }

a.addescription ,
a.adld ,
.adhover a.addescription ,
.adhover a.adld { color:#000; }

a.adurl ,
.adhover a.adurl { color:#008000; }

.adhover a.adtitle:hover ,
.adhover a.adurl:hover ,
.adhover a.addescription:hover ,
.adhover a.adld:hover { color:#fe0000; }

/* new ad placeholders */
#ad_rs { display: none; }
#ad2 { display: none; }

div#ad_rs:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
div#ad2:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

/* hack for ie6,7 */
* html div#ad_rs { height: 1%; }
*+html div#ad_rs { height: 1%; }
* html div#ad2 { height: 1%; }
*+html div#ad2 { height: 1%; }

/* = research frame
----------------------------------------------- */

#ld_research_frame {
	position: fixed;
	top: 0;
	right: 3px;
}

/* hack for ie6 */
* html body { filter: expression(''); }
* html #ld_research_frame {
	position: absolute;
	top: expression(
	 document.documentElement && document.documentElement.scrollTop  || 
	 document.body && body.scrollTop  || 0
	 + 0 + 'px'
	);
	right: expression(
	 document.documentElement && document.documentElement.scrollLeft || 
	 document.body && body.scrollRight || 0
	 + 3 + 'px'
	);
}


/* = keyword highlight
----------------------------------------------- */

a.adtitle span span ,
a.adurl span span ,
a.addescription span span {
	font-size: 100%!important;
	padding: 1px 3px;
}


/* blogHeader common
-----------------------------------------------------*/

.blogHeader ul ,
.blogHeader ul li ,
.blogHeader p ,
.blogHeader form ,
.blogHeader input {
	padding: 0;
	margin: 0;
}

.blogHeader ul li {
	list-style-type: none;
}

.blogHeader a img {
	border-width: 0;
}

.blogHeader ul ,
.blogHeader ul li {
	float: left;
}

.blogHeader:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}


/* pixiv header only
-----------------------------------------------------*/

#pixivHeader {
	background-color: #eee;
	height: 34px;
	padding: 0 10px 0 5px;
	font-size: 13px;
	font-family: Arial,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
}

/* hack for ie6 */
* html #pixivHeader #symbol .pixiv {
	background: url(/img/user_blog/pixiv/logo_pixivblog.gif) no-repeat;
	text-indent: -9999px;
	width: 83px;
}

#pixivHeader ul#symbol {
	padding-top: 4px;
}

#pixivHeader p.signup {
	float: right;
	padding-top: 8px;
}

#pixivHeader p.signup a {
	text-decoration: none;
	color: #000;
}

#pixivHeader p.signup a:hover { color: #000000fe; }

#pixivHeader p.signup a.site {
	border-right: 1px solid;
	margin-right: 5px;
	padding-right: 5px;
}

#pixivHeader p.signup a.site img {
	margin-right: 3px;
	vertical-align: middle;
}


/* adv overture
-----------------------------------------------------*/

#ad2 { padding: 1.5em; }

dl.advSet ,
dl.advSet dt ,
dl.advSet dd { margin: 0; padding: 0; text-align: left; }

a.advLink {
	text-decoration: none!important;
	display:block;
	margin: 0 8px 0.75em 0;
	padding: 3px 5px;
	zoom:1;
}

/* temp */
body.gallery div#wrapperOuter div#ad a:hover ,
body.gallery div#wrapperOuter div#ad2 a:hover {
	background: none;
}

.advTitle {
	font-size: 14px;
	font-weight: bold;
	line-height: 200%;
	color:#0000fe;
	text-decoration: underline!important;
}
.advUrl,
.advDescription { font-size: 12px; }

.advTitle ,
.advUrl { display: inline; }
.advUrl { color:#008000; }
dl.advSet dd.advUrl { margin-left: 1em; }
.advDescription { display: block; color:#000000; line-height: 100%; }

p.advSponsor { text-align: right; font-size: 11px; }
p.advSponsor a { color: #999; text-decoration: none; }
p.advSponsor a span { text-decoration: underline; }


/* DLsite plugin
-----------------------------------------------------*/
/* clearfix */
.dlsite_worklist .clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.dlsite_worklist .clearfix {
  min-height: 1px;
}

* html .dlsite_worklist .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

/* worklist */
ul.dlsite_worklist {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

ul.dlsite_worklist p {
	margin: 0;
	padding: 0;
}

ul.dlsite_worklist img {
	vertical-align: bottom;
	border: 0;
}

ul.dlsite_worklist_01 {
	width: 180px;
}

ul.dlsite_worklist_01 li {
	display: inline;
	padding: 0 5px;
	text-align: left;
}

ul.dlsite_worklist_02 li {
	display: inline;
	padding: 0 3px;
	text-align: left;
}

ul.dlsite_worklist_03 li ,
ul.dlsite_worklist_04 li {
	margin: 0 8px 8px 8px;
	line-height: 1.3;
	text-align: left;
}

ul.dlsite_worklist_03 li p.pict {
	float: left;
	margin-right: 8px;
	width: 50px;
}

ul.dlsite_worklist_04 li p.pict {
	float: left;
	margin-right: 8px;
	width: 100px;
}

ul.dlsite_worklist p.work_price {
	color: #cc0000;
	margin-top: 3px;
}

ul.dlsite_worklist_01 li img {
	border: none;
	margin-bottom: 10px;
}

ul.dlsite_worklist_02 li img {
	border: none;
	margin-bottom: 10px;
}

ul.dlsite_worklist_01 li a:hover img ,
ul.dlsite_worklist_02 li a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

p.dlsite_workall {
	margin: 0 8px 0 0;
	text-align: right;
	font-size: 12px;
}

/*  circle profile */
div.dlsite_circle_profile {
	font-size: 12px;
	overflow: hidden;
	line-height: 1.3;
	text-align: left;
}

div.dlsite_circle_profile p {
	margin: 0;
	padding: 0;
}

div.dlsite_circle_profile p.circle_title {
	margin-bottom: 5px;
}

div.dlsite_circle_profile p.circle_bn {
	margin: 5px 0 0 0;
}

div.dlsite_circle_profile div.sidebody {
	padding-bottom: 2px;
}

div.dlsite_circle_profile div.sidebody a {
	font-weight: bold;
}

div.dlsite_circle_profile img {
	vertical-align: bottom;
	border: 0;
}

/* twitter timeline */
div.twitter_timeline p {
    margin:5px;
    padding:5px;
    border:solid 1px #ccc;
}
div.twitter_timeline p.left {
    margin-left:60px;
}
div.twitter_timeline p.right {
    margin-right:60px;
}
div.twitter_timeline img {
    border:none;
}
div.twitter_timeline img.left {
    float:left;
}
div.twitter_timeline img.right {
    float:right;
}
div.twitter_timeline br.timeline_bottom {
    clear:both;
}
