DIV#header UL.shortcut {
	DISPLAY: none
}
DIV#header DIV.search {
	DISPLAY: none
}
DIV#header UL.usersMenu {
	DISPLAY: none
}
DIV#sidebar {
	DISPLAY: none
}
DIV#footer UL.footerMenu {
	DISPLAY: none
}
UL.globalMenu {
	DISPLAY: none
}
A.pageTop {
	DISPLAY: none
}
DIV.main {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
DIV#contents {
	WIDTH: auto
}
DIV#header DIV.wrapper {
	WIDTH: auto
}
DIV#footer DIV#copy {
	WIDTH: auto
}
BODY {
	BACKGROUND: #fff; COLOR: #000
}
DIV#header {
	BACKGROUND: #fff; COLOR: #000
}
DIV#container {
	BACKGROUND: #fff; COLOR: #000
}
DIV.breadCrumbs {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.main {
	FLOAT: none
}
DIV#footer DIV#copy {
	FLOAT: none
}
DIV#footer ADDRESS {
	FLOAT: none
}
HR.pageBreak {
	POSITION: static; PAGE-BREAK-BEFORE: always; DISPLAY: block
}
DIV.main {
	BACKGROUND-IMAGE: none !important; PADDING-TOP: 0px !important
}
DIV.picSets DIV.txt {
	WIDTH: 70%
}
DIV.picSets DIV.pic {
	WIDTH: 30%
}
DIV#header DIV.logo {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
