@charset "UTF-8";


/* ----------------------------------------------

title: livedoor Profile userPage CSS(COM)
author: hamashun
day: 2008-05-13
 
Pass Filter:
	NN4.x(media)
	MacIE4.5(@import)

---------------------------------------------- */

@import url("start.css");
/* @import url("blogparts.css"); */

