@charset "utf-8";
/* page setting
--------------------------------------------------------- */
body { background: #232323; }.thunder-bg { background: url(_src/sc1506a/v_Gradation18.jpg) repeat-x left top; }

#bk1129 { background: transparent; }
