BODY {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W3","Hiragino Mincho Pro",serif; FONT-SIZE: 12px
}
H2 {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W6"; FONT-WEIGHT: normal
}
H3 {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W6"; FONT-WEIGHT: normal
}
H4 {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W6"; FONT-WEIGHT: normal
}
P.lead {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W6"; FONT-WEIGHT: normal
}
STRONG {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W6"; FONT-WEIGHT: normal
}
