BODY {
	FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","Osaka",sans-serif; FONT-SIZE: 12px
}
SPAN.img SPAN {
	LINE-HEIGHT: 1.2; FONT-SIZE: 90%
}
H2 {
	LINE-HEIGHT: 1.3; FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W6"; FONT-SIZE: 165%; FONT-WEIGHT: normal
}
H3 {
	LINE-HEIGHT: 1.3; FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W6"; FONT-SIZE: 135%; FONT-WEIGHT: normal
}
H4 {
	LINE-HEIGHT: 1.3; FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W6"; FONT-SIZE: 110%; FONT-WEIGHT: normal
}
P {
	LINE-HEIGHT: 1.4; FONT-SIZE: 100%
}
P.lead {
	FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W6"; FONT-WEIGHT: normal
}
P.note {
	FONT-SIZE: 95%
}
P.affix {
	FONT-SIZE: 95%
}
BLOCKQUOTE {
	LINE-HEIGHT: 1.5; FONT-SIZE: 100%
}
ADDRESS {
	FONT-SIZE: 85%
}
LI {
	LINE-HEIGHT: 1.7; FONT-SIZE: 100%
}
TH {
	LINE-HEIGHT: 1.3; FONT-SIZE: 100%
}
TD {
	LINE-HEIGHT: 1.3; FONT-SIZE: 100%
}
STRONG {
	FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W6"
}
.lhn H2 {
	LINE-HEIGHT: 1.1
}
.lhn H3 {
	LINE-HEIGHT: 1.1
}
.lhn H4 {
	LINE-HEIGHT: 1.1
}
.lhn TH {
	LINE-HEIGHT: 1.1
}
.lhn TD {
	LINE-HEIGHT: 1.1
}
.lhn P {
	LINE-HEIGHT: 1.2
}
.lhn LI {
	LINE-HEIGHT: 1.2
}
.lhn BLOCKQUOTE {
	LINE-HEIGHT: 1.3
}
.lhw H2 {
	LINE-HEIGHT: 1.9
}
.lhw H3 {
	LINE-HEIGHT: 1.9
}
.lhw H4 {
	LINE-HEIGHT: 1.9
}
.lhw TH {
	LINE-HEIGHT: 1.9
}
.lhw TD {
	LINE-HEIGHT: 1.9
}
.lhw P {
	LINE-HEIGHT: 2
}
.lhw LI {
	LINE-HEIGHT: 2
}
.lhw BLOCKQUOTE {
	LINE-HEIGHT: 2.1
}
#area-header SPAN.img SPAN {
	LINE-HEIGHT: 1.3; FONT-SIZE: 85%
}
#area-header H2 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 160%
}
#area-header H3 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 90%
}
#area-header H4 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 90%
}
#area-header P {
	LINE-HEIGHT: 1.4; FONT-SIZE: 93%
}
#area-header P.lead {
	LINE-HEIGHT: 1.5; FONT-SIZE: 93%
}
#area-header P.note {
	FONT-SIZE: 90%
}
#area-header P.affix {
	FONT-SIZE: 90%
}
#area-header BLOCKQUOTE {
	LINE-HEIGHT: 1.5; FONT-SIZE: 93%
}
#area-header ADDRESS {
	FONT-SIZE: 85%
}
#area-header LI {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-header TH {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-header TD {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-header .lhn H2 {
	LINE-HEIGHT: 1.1
}
#area-header .lhn H3 {
	LINE-HEIGHT: 1.1
}
#area-header .lhn H4 {
	LINE-HEIGHT: 1.1
}
#area-header .lhn P {
	LINE-HEIGHT: 1.2
}
#area-header .lhn LI {
	LINE-HEIGHT: 1.2
}
#area-header .lhn TH {
	LINE-HEIGHT: 1.2
}
#area-header .lhn TD {
	LINE-HEIGHT: 1.2
}
#area-header .lhn P.lead {
	LINE-HEIGHT: 1.3
}
#area-header .lhn BLOCKQUOTE {
	LINE-HEIGHT: 1.3
}
#area-header .lnw H2 {
	LINE-HEIGHT: 1.5
}
#area-header .lnw H3 {
	LINE-HEIGHT: 1.5
}
#area-header .lnw H4 {
	LINE-HEIGHT: 1.5
}
#area-header .lnw P {
	LINE-HEIGHT: 1.6
}
#area-header .lnw LI {
	LINE-HEIGHT: 1.6
}
#area-header .lnw TH {
	LINE-HEIGHT: 1.6
}
#area-header .lnw TD {
	LINE-HEIGHT: 1.6
}
#area-header .lnw P.lead {
	LINE-HEIGHT: 1.7
}
#area-header .lnw BLOCKQUOTE {
	LINE-HEIGHT: 1.7
}
.side-group SPAN.img SPAN {
	LINE-HEIGHT: 1.3; FONT-SIZE: 90%
}
.side-group H2 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 110%
}
.side-group H3 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 95%
}
.side-group H4 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 95%
}
.side-group P {
	LINE-HEIGHT: 1.4; FONT-SIZE: 98%
}
.side-group P.lead {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
.side-group P.note {
	FONT-SIZE: 90%
}
.side-group P.affix {
	FONT-SIZE: 90%
}
.side-group BLOCKQUOTE {
	LINE-HEIGHT: 1.5; FONT-SIZE: 90%
}
.side-group ADDRESS {
	LINE-HEIGHT: 1.3; FONT-SIZE: 90%
}
.side-group LI {
	LINE-HEIGHT: 1.5; FONT-SIZE: 90%
}
.side-group TH {
	LINE-HEIGHT: 1.4; FONT-SIZE: 90%
}
.side-group TD {
	LINE-HEIGHT: 1.4; FONT-SIZE: 90%
}
.side-group .lhn H2 {
	LINE-HEIGHT: 1.1
}
.side-group .lhn H3 {
	LINE-HEIGHT: 1.1
}
.side-group .lhn H4 {
	LINE-HEIGHT: 1.1
}
.side-group .lhn P {
	LINE-HEIGHT: 1.2
}
.side-group .lhn TH {
	LINE-HEIGHT: 1.2
}
.side-group .lhn TD {
	LINE-HEIGHT: 1.2
}
.side-group .lhn BLOCKQUOTE {
	LINE-HEIGHT: 1.3
}
.side-group .lhn LI {
	LINE-HEIGHT: 1.3
}
.side-group .lhw H2 {
	LINE-HEIGHT: 1.1
}
.side-group .lhw H3 {
	LINE-HEIGHT: 1.1
}
.side-group .lhw H4 {
	LINE-HEIGHT: 1.1
}
.side-group .lhw P {
	LINE-HEIGHT: 1.2
}
.side-group .lhw TH {
	LINE-HEIGHT: 1.2
}
.side-group .lhw TD {
	LINE-HEIGHT: 1.2
}
.side-group .lhw BLOCKQUOTE {
	LINE-HEIGHT: 1.3
}
.side-group .lhw LI {
	LINE-HEIGHT: 1.3
}
#area-footer SPAN.img SPAN {
	LINE-HEIGHT: 1.3; FONT-SIZE: 85%
}
#area-footer H2 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 120%
}
#area-footer H3 {
	LINE-HEIGHT: 1.3; FONT-SIZE: 95%
}
#area-footer H4 {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-footer P {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-footer P.lead {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-footer P.note {
	FONT-SIZE: 95%
}
#area-footer P.affix {
	FONT-SIZE: 95%
}
#area-footer BLOCKQUOTE {
	LINE-HEIGHT: 1.5; FONT-SIZE: 95%
}
#area-footer ADDRESS {
	LINE-HEIGHT: 1.3; FONT-SIZE: 95%
}
#area-footer LI {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-footer TH {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-footer TD {
	LINE-HEIGHT: 1.4; FONT-SIZE: 95%
}
#area-footer .lhn H2 {
	LINE-HEIGHT: 1.1
}
#area-footer .lhn H3 {
	LINE-HEIGHT: 1.1
}
#area-footer .lhn H4 {
	LINE-HEIGHT: 1.2
}
#area-footer .lhn P {
	LINE-HEIGHT: 1.2
}
#area-footer .lhn LI {
	LINE-HEIGHT: 1.2
}
#area-footer .lhn TH {
	LINE-HEIGHT: 1.2
}
#area-footer .lhn TD {
	LINE-HEIGHT: 1.2
}
#area-footer .lhn BLOCKQUOTE {
	LINE-HEIGHT: 1.3
}
#area-footer .lhw H2 {
	LINE-HEIGHT: 1.5
}
#area-footer .lhw H3 {
	LINE-HEIGHT: 1.5
}
#area-footer .lhw H4 {
	LINE-HEIGHT: 1.6
}
#area-footer .lhw P {
	LINE-HEIGHT: 1.6
}
#area-footer .lhw LI {
	LINE-HEIGHT: 1.6
}
#area-footer .lhw TH {
	LINE-HEIGHT: 1.6
}
#area-footer .lhw TD {
	LINE-HEIGHT: 1.6
}
#area-footer .lhw BLOCKQUOTE {
	LINE-HEIGHT: 1.7
}
#page-title {
	FONT-SIZE: 15px
}
#page-title SPAN {
	FONT-SIZE: 10px
}
.menuh .menu-a A.mn1 {
	FONT-SIZE: 90%
}
.menuh .menu-a .nolink {
	FONT-SIZE: 90%
}
.menuh .menu-b A.mn1 {
	FONT-SIZE: 90%
}
.menuh .menu-b .nolink {
	FONT-SIZE: 90%
}
.menuh .menu-c A.mn1 {
	FONT-SIZE: 90%
}
.menuh .menu-c .nolink {
	FONT-SIZE: 90%
}
.bread-crumb1 {
	FONT-SIZE: 90%
}
.bread-crumb2 {
	FONT-SIZE: 90%
}
.bread-crumb3 {
	FONT-SIZE: 90%
}
.area:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.amc:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.block:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.bmc:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.column:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.box:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.pocket:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.xmc:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.mc:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.balloon:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.menuh UL:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.menu-a:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.menu-b:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.menu-c:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.menu-d:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.menu-e:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.mbox:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
DT:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
DD:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: ""
}
.min {
	FONT-FAMILY: "ƒqƒ‰ƒMƒm–¾’© Pro W3","Hiragino Mincho Pro"
}
.got {
	FONT-FAMILY: "ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","Osaka",sans-serif
}
.fsize_lll {
	FONT-SIZE: 260%
}
.fsize_ll {
	FONT-SIZE: 160%
}
.fsize_l {
	FONT-SIZE: 140%
}
.fsize_m {
	FONT-SIZE: 120%
}
.fsize_s {
	FONT-SIZE: 90%
}
.fsize_ss {
	FONT-SIZE: 80%
}
