@charset "utf-8"; 
body {
	padding-top:26px !important;
	padding-top:0;/*ie6*/
	background-position: center 26px;
}
ul#clogPrbar {
	width:100%;
	min-width:750px;
	z-index:2000;
	position:fixed;
	top:0px;
	left:0px;
	height:26px;
	margin:0;
	color:#333;
	background-color: #fff;
	background-image: url(/outside/ad_ticker/img/bg_head.gif);
	background-repeat: repeat-x;
	padding: 0px;
	font-size: 12px;
	list-style-type:none;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}

#clogPrbar li {
	margin:0;
	padding:0;
	list-style-type:none;
	vertical-align: middle;
	height: 26px;
}
#clogPrbar a {
	margin:0;
	padding:0;
	color:#0066FF !important;
	text-decoration:underline !important;
	font-family:sans-serif;
	white-space:nowrap;
}
#clogPrbar a:hover {
	color:#0066FF !important;
	text-decoration:none !important;
}
#clogPrbar a img {
	border:0;
}
#clogPrbar #logo {
	float: left;
	width:70px;
	height:26px;
}
#clogPrbar #logo img {
	padding:2px 0 2px 4px;
}
#clogPrbar #txtPr {
	float: left;
	font-size: 12px;
	line-height: 26px;
	vertical-align: middle;
	text-align: left;
	height: 26px;
}
#clogPrbar #blogCategory {
	float: right;
	height: 20px;
	overflow: hidden;
	margin-right: 10px;
	display: inline;
	text-align: right;
	font-size: 11px;
	margin-top: 4px;
	color: #999999;
}
#clogPrbar #blogSearch {
	float: right;
	width: 165px;
	overflow: hidden;
	text-align: right;
	vertical-align: middle;
	margin: 0px;
}
#clogPrbar #prBtn {
	float: right;
	height: 26px;
	width: 60px;
	text-align: right;
	padding-right: 5px;
	overflow: hidden;
}
#clogPrbar #blogSearch #form #tickerButton {
	color:#333333;
	cursor:pointer;
	outline:none;
	background-color: #fff;
	font-size: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #ccc;
	width: 30px;
	margin-left: 5px;
}
#clogPrbar #blogSearch #form #tickerBox {
	width: 120px;
	height: 14px;
	margin-top: 2px;
}
#clogPrbar #blogCategory img {
	margin-top: 2px;
}