@charset "UTF-8";

/* ---------------------------------------------------------------------

TITLE    : nikkansports.com 大学スポーツ 青山スポーツページ用 CSS  Windows版 IE5.x用
DATE     : 2007/01/17
URL      : http://univ.nikkansports.com/css/press/aoyama/aoyama-style.css
DESIGNER : Tomotaka Seo

--------------------------------------------------------------------- */


/* ---------------------------------------------------------------------
GENRE    : 大学スポーツ
THEME    : 青山スポーツ
--------------------------------------------------------------------- */


/* ----------------------------------------------------------------
Win、Mac版IE4には適用させず
---------------------------------------------------------------- */

@import "/css/press/aoyama/aoyama-style_macie45x.css";