@charset "Shift_JIS";

/*============================================================
//
//  目次-------------------------
//  [フォントサイズ：標準]
//  -----------------------------
//　・パンクズ
//　・左動画パーツ
//　・左インフォメーションパーツ
//　・中央メインパーツ
//　・中央PR
//　・右パーツ
//　・番組表
//　・フッター
//
//==========================================================*/

/*============================================================
//  パンクズ
//==========================================================*/
#pankuzu{font-size: 10px;}


/*============================================================
//  左動画パーツ
//==========================================================*/
#mparts{font-size: 10px;}


/*============================================================
//  左インフォメーションパーツ
//==========================================================*/
#info{font-size: 10px;}
#info .inner .txt a{font-size: 12px;}


/*============================================================
//  視聴率ランキング
//==========================================================*/
#info .txtcenter{
	font-size: 10px;
}
#info .dot{
	font-size: 10px;
}
#info .txt{
	font-size: 10px;
}


/*============================================================
//  中央メインパーツ
//==========================================================*/
.cparts .inner .txt{font-size: 10px;}
.cparts .inner .txt a{font-size: 12px;}
.cparts .inner .txt a.more{font-size: 10px;}


/*============================================================
//  中央PR
//==========================================================*/
#pr{font-size:12px;}


/*============================================================
//  右パーツ
//==========================================================*/
#rparts .inner .bold{font-size: 12px;}
#rparts .inner .txt{font-size: 10px;}


/*============================================================
//  右ティッカー
//==========================================================*/
#ticker .bottom .left{
	font-size: 10px;
}
#ticker .bottom .right{
	font-size: 10px;
}


/*============================================================
//  番組表
//==========================================================*/
#program{font-size: 10px;}
#program .midashi{font-size: 12px;}


/*============================================================
//  番組検索
//==========================================================*/
#info td.vallist{font-size: 10px;}
.cparts .result .back{font-size: 10px;}
.cparts .result .rstmidas{font-size: 12px;}
.cparts .result .restable td.data{font-size: 10px;}
.cparts .result .restable td.data2{font-size: 10px;}
.cparts .result .pager{font-size: 10px;}
.cparts .result .pager .pageno{font-size: 12px;}


/*============================================================
//  ドラマ
//==========================================================*/
#navi td.title{font-size: 12px;}
#navi{font-size: 10px;}


/*============================================================
//  ダウンロード
//==========================================================*/
.cparts .innerborder .toolright{
	font-size: 12px;
}
.cparts .innerborder .tickerleft{
	font-size: 12px;
}
.cparts .reg{
	font-size: 12px;
}
.cparts .reg table.step td.quest{
	font-size: 12px;
}
.cparts .mini{
	font-size: 10px;
}
.cparts .reg td.txt{
	font-size: 10px;
}


/*============================================================
//  入力フォーム
//==========================================================*/
.input_title {
	font-size: 10px;
	}
.input_content {
	font-size: 10px;
	}


/*============================================================
//  フッター
//==========================================================*/
#footer{font-size: 10px;}
