/*
-----------------------------------------------
Movable Type Template Style
Name:    aoyama
Designer:nikkansports.com
URL:     http://blog.nikkansports.com/user/aoyama/
Date:    22 Sep 2005
----------------------------------------------- */

/* statement to exclude IE4(Win, Mac)
----------------------------------------------- */
@import "/user/aoyama/ex_mac_ie.css";